          <div class="dragging tk-2016-e" style="width: 100%; height: 640px;">
            <div class="header" style="background-color: rgb(25, 132, 191); width: 100%; height: 50px;'">
              <div class="close-chat" style="float: right; font-size: 30px; text-decoration: none; margin-right: 10px; color: white; margin-top: 10px; cursor: pointer;" data-bind="click: chatToCloseChat">x</div>
            </div>
            <div class="disp" style="display: block; width: 100%; height: 500px;overflow-y: auto;"> 
            <p class="start-of-chat">Support Representative Mark has joined the Chat</p>

            </div>
            <p class="hides" style="color: black; font-size: 10px; height: 20px; margin: 0px 0px 0px 10px; opacity: 0">Agent is typing...</p>
            <div class="black-footer">
              <textarea class="textarea"></textarea>
              <button class="chat-button" style="margin: 10px; display: inline-block; width: 50px; height: 50px; border-radius: 25px; color: white; background-color: orange; float: right; border: none; cursor: pointer; font-size: large">Send</button>
            </div>
          </div>