<div class="oj-flex oj-flex-items-pad">
  
  <div class="oj-sm-12 oj-lg-12 oj-flex-item">
    <div class="oj-flex oj-flex-items-pad" style="height: 667px;">
        <div class="oj-sm-12 oj-xl-12 oj-flex-item demo-layoutshift-B background-blue upper-layouts1">
           
            <div style="height: 71%;">
                <a href="#" data-bind="value: 'handle', click: backToListHandle">
                    <img src="css/images/back-icon.png" style="width: 15px;padding: 42px 0;position: inherit;"/>
                </a>    
            </div>
            <div style="height: 29%;"><label style="color: white;font-size: 25px;margin-left: 5px;font-weight:normal;" class="font-montserrat-regular">Hi Catherine</label></div>
       
      </div>
      <div class="oj-sm-12 oj-xl-12 oj-flex-item demo-layoutshift-C background-grey lower-layouts1">
          <p style="font-size: 16px;padding-top: 7px;margin-left: 5px;">How can we help you today?</p>
          <div style="font-size: 18px;width: 90%;margin: auto;padding: 12px 0;">
              <div class="lowerblck-panel1"><img src="css/images/checkmark-icon.png" style="position: inherit;width: 23px;margin-right: 10px;"><label class="lowerblck-panel2-label">Rescheduled Appointment</label></div>
              <div class="lowerblck-panel2"><label class="lowerblck-panel2-label">Lease Account Status</label></div>
              <div class="lowerblck-panel2"><label class="lowerblck-panel2-label">Glod Preferred Owner</label></div>
              <div class="lowerblck-panel2"><label class="lowerblck-panel2-label">Parts and Accessories</label></div>
              <div class="lowerblck-panel2"><label class="lowerblck-panel2-label">General Support</label></div>
          </div>
          <div style="text-align: -webkit-center;margin: 20px 0;"><img src="css/images/startChat-button.png" style="position: inherit;width: 136px;"></div>
      </div>
    </div>
  </div>
</div>