<div style="min-height:667px;">
    <a href="#" data-bind="value: 'handle', click: backToListHandle">
    <img src="css/images/back-icon.png" alt="Car Image" style="width:15px;padding:25px 10px;"/>
        </a>
	<div class="background-blue" style="background-color: #0078bd">
		<div style="height:133px;margin-left: 30px; padding-top: 16px;opacity: 0.5;">
			<span style="font-size: 108px;" class="montserrat-light white">eCX</span>
		</div>
		<div style="height: 100%; margin-top:-23px;" class="background-grey">
			<div id="car1">
                <img src="css/images/redCar.png" alt="Car Image" style="width:80%;margin-top:-25px;margin-left:10%;position:static;"/>
			</div>
			<div id="content" style="padding: 25px; margin-top: -30px;" class="white background-grey">
				<div >
					<span class="font-montserrat-regular white AppsFontSize25px">2017 eCX Sport Package</span>
				</div>
				<div style="margin-top:5px;">
					<span class="AppsLargeFontSize white">with mDrive Navigation</span>
				</div>
				<div style="margin-top:15px;" id="div2">
					<hr class="separator-line">
						<div style="width: 85px;height: 85px;margin-top: -30px;right: 40px;position: absolute;"
                             class="backgroundOrange round">
							<div>
								<div id="box" style="padding-top:26px;" class="bold centerAlign-text">
									<label class="montserrat-light white">REQUEST</label>
									<div>
										<label class="montserrat-light white">QUOTE</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div >
						<span class="montserrat-light white Apps2XLargeFontSize">$41,120</span>
					</div>
					<div style="margin-top:5px;">
						<span class="white">Starting MSRP</span>
					</div>
                    <div style="margin-top:20px;">
						<span class="montserrat-light white Apps2XLargeFontSize">$3,000</span>
					</div>
					<div style="margin-top:5px;">
						<img src="css/images/goldStar.png" style="position:static;width:11px;">
                        <span class="white AppsXSmallFontSize">Gold Preferred bonus credit towards purchase</span>
					</div>
					<div style="margin-top: 15px;">
						<span class="montserrat-light white Apps2XLargeFontSize">$499/mo</span>
                        <span style="margin-left: 5px;" class="white Apps2XSmallFontSize">36 months lease</span>
					</div>
					<div style="margin-top:5px;">
						<span class="smallText white">$2653 due at signing</span>
					</div>
					<div style="margin-top:0px;">
						<span class="smallText white">* security deposit waived</span>
					</div>
					<div style="margin-top:15px;">
						<span class="smallText white">Prices for</span>
						<span class="montserrat-light white Apps2XLargeFontSize" data-bind="text:todayDate"></span>
					</div>
					<div style="margin-top:5px;">
						<table style="width:100%;">
							<tr>
								<td style="width: 30px;"><span class="smallText white">Zip</span></td>
								<td style="width: 85px;"><span style="padding:5px 25px 5px 10px;" class="smallText backgroundDark-Gray white">94705</span></td>
                                <td><div style="width: 30px;height: 30px;" class="white round backgroundOrange centerAlign-text"><div style="padding-top: 5px;"><span class="montserrat-light Apps2XSmallFontSize">GO</span></div></div></td>
							</tr>
						</table>
					</div>
					<div style="margin-top:20px;">
						<span class="montserrat-light white Apps2XLargeFontSize">EPA-Est MPGe 204 / 180</span>
					</div>
					<div style="margin-top:5px;">
						<span class="white">City/Hwy</span>
					</div>
					<table style="margin-top: 25px;" class="gray-box">
						<tr>
							<td style="width:80%;" halign="center" valign="middle">
								<span class="xxlargeText white">Highlights</span>
							</td>
							<td style="width:5%;">
								<img src="css/images/downArrow-icon.png" alt="arrow Image" style="width:20px;margin-top: -5px;">
							</td>
						</tr>
						</table>
						<table style="margin-top:7px;" class="gray-box">
							<tr>
								<td style="width:80%;" halign="center" valign="middle">
									<span class="xxlargeText white">Package Details</span>
								</td>
								<td style="width:5%;">
										<img src="css/images/downArrow-icon.png" alt="arrow Image" style="width:20px;margin-top: -5px;">
								</td>
								</tr>
							</table>
							<table style="margin-top:7px;" class="gray-box">
								<tr>
									<td style="width:80%;" halign="center" valign="middle">
										<span class="xxlargeText white">Entertainment</span>
									</td>
									<td style="width:5%;">
										<img src="css/images/downArrow-icon.png" alt="arrow Image" style="width:20px;margin-top: -5px;">
										</td>
									</tr>
								</table>
								<table style="margin-top:7px;" class="gray-box">
									<tr>
										<td style="width:80%;" halign="center" valign="middle">
											<span class="xxlargeText white">Connectivity</span>
										</td>
										<td style="width:5%;">
										<img src="css/images/downArrow-icon.png" alt="arrow Image" style="width:20px;margin-top: -5px;">
										</td>
										</tr>
									</table>
									<table style="margin-top:7px;" class="gray-box">
										<tr>
											<td style="width:80%;" halign="center" valign="middle">
												<span class="xxlargeText white">Driving Assistance System</span>
											</td>
											<td style="width:5%;">
										<img src="css/images/downArrow-icon.png" alt="arrow Image" style="width:20px;margin-top: -5px;">
										</td>
											</tr>
										</table>
										<table style="margin-top:7px;" class="gray-box">
											<tr>
												<td style="width:80%;" halign="center" valign="middle">
													<span class="xxlargeText white">Safety</span>
												</td>
												<td style="width:5%;">
										<img src="css/images/downArrow-icon.png" alt="arrow Image" style="width:20px;margin-top: -5px;">
										</td>
												</tr>
											</table>
										</div>
										<div style=""></div>
									</div>
								</div>
							</div>