<div class="oj-flex oj-flex-items-pad">
 
  <div class="oj-sm-12 oj-lg-12 oj-flex-item">
    <div class="oj-flex oj-flex-items-pad" style="height: 667px;">
        <div class="oj-sm-12 oj-xl-8 oj-flex-item demo-layoutshift-B background-blue upper-layout1">
            <div style="height: 25%;">
                <a href="#" data-bind="value: 'handle', click: backToHomeHandler">
                    <img src="css/images/back-icon.png" style="width: 15px;padding: 25px 0px;position: inherit;">
                </a>
            </div>
            <div style="height: 75%;margin-top:52px;"><label class="white Apps2XLargeFontSize" style="margin-left: 13px;">Exclusive offers for you, Catherine.</label></div>
 
 
      </div>
      
        <div class="oj-sm-12 oj-xl-4 oj-flex-item demo-layoutshift-C background-grey lower-layout1" style="padding: 6px 20px 0px 22px;">
          <div>
              <div style="display: inline-block;width: 100%;vertical-align: middle;">
                  <span class="gray left" style="font-size: 70px;"><label class="montserrat-light">SE</label></span>
                  <span class="right" style="padding: 20px 0 0 0;">
                      <div class="AppsFontSize20px"><label>$399/mo</label></div>
                      <div class="AppsXSmallFontSize" style="margin-top: 6px;"><label>330 mi/charge</label></div>
                  </span>
              </div>
              <div class="backgroundLight-Gray" style="height: 1px;opacity: 0.6;margin: -1px 10px 0px 7px;"></div>
              <div style=""><img src="css/images/whiteCar.png" style="width: 215px;top: 170px;left: 63px;"></div>
          </div>
          <div style="margin-top: 52px;">
              <div style="display: inline-block;width: 100%;vertical-align: middle;">
                  <span class="gray left"><label style="font-size: 71px;" class="montserrat-light">e</label><label style="font-size: 70px;" class="montserrat-light">CX</label></span>
                  <span class="right" style="padding: 20px 0 0 0;">
                      <div class="AppsFontSize20px"><label>$499/mo</label></div>
                      <div class="AppsXSmallFontSize" style="margin-top: 6px;"><label>380 mi/charge</label></div>
                  </span>
              </div>
              <div class="backgroundLight-Gray" style="height: 1px;opacity: 0.6;margin: -1px 10px 0px 7px;"></div>
                <a href="#" data-bind="value: 'handle', click: detailPageHandler">
                  <div style=""><img src="css/images/redCar.png" style="width: 215px;top: 312px;left: 67px;"></div>
                </a>    
            </div>
          <div style="margin-top: 52px;">
              <div style="display: inline-block;width: 100%;vertical-align: middle;">
                  <span class="gray left"><label style="font-size: 70px;" class="montserrat-light">BT</label><label style="font-size: 71px;" class="montserrat-light">i</label></span>
                  <span class="right" style="padding: 20px 0 0 0;">
                      <div class="AppsFontSize20px"><label>$599/mo</label></div>
                      <div class="AppsXSmallFontSize" style="margin-top: 6px;"><label>430 mi/charge</label></div>
                  </span>
              </div>
              <div class="backgroundLight-Gray" style="height: 1px;opacity: 0.6;margin: -1px 10px 0px 7px;"></div>
              <div style=""><img src="css/images/yellowCar.png" style="width: 215px;top: 455px;left: 67px;"></div>
          </div>
      </div>
    </div>
  </div>
</div>