<div class="homePage" style="height:667px;">
  <div class="backgroundOrange white autoflow" style="height: 80px;  padding: 0px 20px;">
    <h3 class="title-name white" style="margin-bottom: 0px;  margin-top: 15px;">Demo User 1</h3>
    <img src="css/images/profile_empty.png" class="fastCarLogo" /><span style=" vertical-align: text-top;" class="AppsBaseFontSize">Korean (한국어)</span>
    <br/>
    <!--<img src="css/images/a.png" />-->
  </div>
  <div id="tabs-container">
    <!-- img src="css/images/redDot.png" style="width:10px;"/ -->
    <div id="cal_tabs" style="" data-bind="ojComponent:{component: 'ojTabs',selected: $root.selectedTab, edge: 'bottom', beforeSelect: tab_animate}" class="fastcar-tab">
      <!-- tab bar -->
      <ul style="text-align: center;">
        <li style="padding: 0px 10px;" tabindex="1"><img src="css/images/home.png" /></li>
        <li style="padding: 0px 10px;" tabindex="2"><img src="css/images/camera.png" /></li>
        <li style="padding: 0px 10px;" tabindex="3"><img src="css/images/location.png" /></li>
        <li style="padding: 0px 10px;" tabindex="4"><img src="css/images/text.png" /></li>
      </ul>
      <!-- tab contents -->
      <div id="tabs-1" style="height: 501px;" class="backgroundWhite grey1 autoflow">
        <div class="tab-mover">
          <div class="backgroundLanguage grey1 autoflow" style=" padding-top: 25px;">
            <div class="box-container">
              <div class="oj-panel oj-margin home-box" data-bind="click: goToTab.bind(null, 2)">Learn with Photos </div>
              <div class="oj-panel oj-margin home-box" data-bind="click: goToTab.bind(null, 3)">Learn with Location </div>
            </div>
            <div class="box-container">
              <div class="oj-panel oj-margin home-box" data-bind="click: goToTab.bind(null, 4)">Learn with C-Al</div>
            </div>
          </div>
        </div>
      </div>
      <div id="tabs-2" style="height: 501px;" class="backgroundWhite grey1">
        <div class="tab-mover" style="height: 300px;" data-bind="click: initCamera">
          <img data-bind="attr: {src: photoName}" style="height: 300px;" />
        </div>
        <div class="pic-detail" data-bind="text: picAnswer"></div>
      </div>
      <div id="tabs-3" style="height: 501px;" class="backgroundWhite grey1">
        <div class="tab-mover backgroundLanguage" style="padding-top: 34px;">
          <div class="map-container" id="user_map" data-bind="click: initMap"></div>
          <div style="margin: 10px 18px;" data-bind="text: locQuestion"></div>
          <div class="Apps6XLargeFontSize" style="margin: 25px; text-align: center;">
            <span data-bind="text: locAnswer"></span>
            <a href="#" data-bind="visible: locAnswer() == ''? false : true, click: speakAnswer">
              <img src="css/images/speaker.png" style="width: 32px;" />
            </a>
          </div>
          <a href="#" data-bind="visible: locAnswer() == ''? false : true, click: translateOnceMore" style="float: right; margin-right: 25px; font-weight: bold;">Learn More...</a>
        </div>
      </div>
      <div id="tabs-4" style="height: 501px;" class="backgroundLanguage grey1">
        <div class="tab-mover" style="padding: 10px;">
          <div class="grey1 autoflow">
            <h2>Learn from different topics</h2>
            <form id="form1">
              <select id="basicSelect" data-bind="ojComponent: {component: 'ojSelect',
                            value: currentTopic, placeholder: 'Select a topic', optionChange: showTopicWords, rootAttributes: {style:'max-width:20em'}}">
                <option value="topic_hospital">Hospital</option>
                <option value="topic_school">School</option>
                <option value="topic_office">Office</option>
                <option value="topic_lib">Library</option>
              </select>
            </form>
            <div class="" data-bind="template: topicTemplate()"></div>
          </div>
        </div>
      </div>
      <!--<div id="tabs-5" style="height: 501px;" class="backgroundWhite grey1">
                <div class="tab-mover">


                    <div class="background-grey grey1 autoflow" style=" padding-top: 35px">
                        <div class="width:325px">
                            <div class="noPadding centerAlign-text">
                                <div style="margin:15px 0 5px;">
                                    <span class="Apps3XLargeFontSize" data-bind="text:('Discover Features')"></span>
                                </div>
                                <img src="css/images/Video1.png" style="width: 90%;margin: auto;left: 0;right: 0;position: absolute !important;" />
                                <div style="margin:270px 0 5px;">
                                    <span class="Apps2XLargeFontSize" data-bind="text:('Bring the Phone and loose the wires')"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
  </div>
</div>

<script type="text/template" id="topic_school">
  <div style="margin: 10px 18px;" data-bind="text: 'Level: '+ topicLevel()"></div>
  <div style="margin: 10px 18px;" data-bind="text: topicQuestion"></div>
  <div class="Apps6XLargeFontSize" style="margin: 25px; text-align: center;">
    <span data-bind="text: topicAnswer"></span>
    <a href="#" data-bind="visible: topicAnswer() == ''? false : true, click: speakAnswer">
      <img src="css/images/speaker.png" style="width: 32px;" />
    </a>
  </div>
  <a href="#" data-bind="visible: topicAnswer() == ''? false : true, click: translateTopic" style="float: right; margin-right: 25px; font-weight: bold;">Learn More...</a>
</script>
