@font-face {
    font-family: 'Montserrat Light';
    src: url('fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url('fonts/Montserrat-Thin.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('fonts/Montserrat-Medium.otf');
}

/* styleClasses for font-size */
.Apps6XLargeFontSize{
    font-size: 54px;
}

.Apps5XLargeFontSize{
    font-size: 38px;
}

.Apps4XLargeFontSize{
    font-size: 28px;
}

.AppsFontSize26px{
    font-size: 26px;
}

.AppsFontSize25px{
    font-size: 25px;
}

.AppsFontSize23px{
    font-size: 23px;
}

.AppsFontSize32px{
     font-size: 32px;
}

.Apps3XLargeFontSize{
    font-size: 24px;
}

.AppsFontSize20px{
    font-size: 20px;
}

.AppsFontSize19px{
    font-size: 19px;
}

.Apps2XLargeFontSize{
    font-size: 18px;
}

.AppsXLargeFontSize{
    font-size: 17px;
}

.AppsFontSize16px{
     font-size: 16px;
}

.AppsLargeFontSize{
    font-size: 15px;
}

.AppsBaseFontSize{
    font-size: 14px;
}

.AppsXSmallFontSize{
    font-size: 13px;
}

.Apps2XSmallFontSize{
    font-size: 12px;
}

.Apps3XSmallFontSize{
    font-size: 11px;
}

.Apps4XSmallFontSize{
    font-size: 10px;
}

.AppsFontSize25px{
    font-size: 25px;
}
.AppsFontSize26px{
    font-size: 25px;
}
.AppsFontSize16px{
     font-size: 16px;
}
.AppsFontSize32px{
     font-size: 32px;
}
.AppsFontSize20px{
     font-size: 20px;
}

/* End of CSS for font-size */

/* CSS for colors */
.white{
    color: #FFFFFF;
}

.orange{
    color: #fe941d;
}

.orange2{
    color: #f59120
}

.green{
    color: #51ef03;
}
.gray{
    color: #8a8a8a;
}
/* End of CSS for colors */

/* CSS for background colors */
.backgroundOrange{
    background-color: #FB890D;
}

.backgroundDark-Gray{
    background-color: #666666;
}
.backgroundLight-Gray{
    background-color: #6397ab;
}

.backgroundGreen{
    background-color: #60bf24;
}

.backgroundWhite{
    background-color: #FFFFFF;
}

.backgroundWhite{
    background-color: #FFFFFF;
}

/* End of CSS for background colors*/

/* CSS Changes for TK Demo */

.round{
    border-radius: 50%;
}

.centerAlign-text{
    text-align: center;
}

.arrow_box {
  position: relative;
  border: 1px solid #999999;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 2px 4px 3px 4px;
  text-align: center;
  font-size: 14px;
  top: 25px;
}

.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(153, 153, 153, 0);
  border-top-color: #999999;
  border-width: 7px;
  margin-left: -8px;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 7px;
  margin-left: -8px;
}

.verticalBarSeparator{
    background-color: #A6A6A6;
    opacity: 0.7;
    height: 110px;
    width: 1px;
}

.borderBottomGray{
    border-bottom:1px solid #6d6d6d;
}

.floatLeft{
    float: left;
}

.positionAbsolute{
    position:absolute;
}

.redDotImage{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute !important;
    bottom: 54px;
    left: 200PX;
    z-index: 999;
    background-color: #C92E1A;
}

.title-name {
    font-size: 28px;
    font-weight: normal; 
}

.oj-tabs-nav-root.oj-conveyorbelt div {
    margin-bottom: 0px !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Light';
}

body {
    position: relative;
    height: 100%;
}

img {
    width: 100%;
    position: absolute;
}

.click-aligner {
    position: relative;
    height: 0px;
}

.tk-2016-a,
.tk-2016-b,
.tk-2016-c,
.tk-2016-f,
.tk-2016-g,
.tk-2016-h {
    top: 0px;
    left: 0px;
}

.tk-2016-d,
.tk-2016-i,
.tk-2016-j,
.tk-2016-k,
.tk-2016-l,
.tk-2016-n,
.tk-2016-p,
.tk-2016-q,
.tk-2016-r,
.tk-2016-s,
.tk-2016-u,
.tk-2016-v,
.tk-2016-w {
    top: 0px;
    left: 101%;
}

.tk-2016-m,
.tk-2016-o,
.tk-2016-t {
    top: 0px;
    left: -100%;
}

.hidden {
    display: none;
}

.start-screen,
.home-screen,
.service-screen,
.contact-screen,
.chat-screen,
.account-screen,
.chat-screen,
.chat-close,
.offers-screen {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.start-screen {
    width: 60px;
    height: 60px;
    top: 540px;
    left: 15%;
}

.home-screen {
    width: 60px;
    height: 60px;
    top: 540px;
    left: 40%;
}

.account-screen {
    width: 60px;
    height: 60px;
    top: 540px;
    left: 70%;
}

.service-screen {
    width: 110px;
    height: 30px;
    top: 390px;
    left: 55%;
}

.contact-screen {
    width: 140px;
    height: 140px;
    top: 470px;
    left: 30%;
}

.chat-screen {
    width: 40px;
    height: 40px;
    top: 30px;
    left: 88%;
}

.chat-close {
    width: 300px;
    height: 60px;
    top: 430px;
    left: 10%;
}

.offers-screen {
    width: 300px;
    height: 100px;
    top: 300px;
    left: 5%;
}

.catherine-reply {
    padding: 10px;
    width: 80%;
    background-color: rgb(25, 132, 191);
    color: white;
    font-size: 14px;
    line-height: 14px;
    font-family: Helvetica;
    border-radius: 5px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid #1961bf;
}

.catherine-reply:after {
    border-top: 10px solid rgb(25, 132, 191);
    border-right: 10pc solid transparent;
}

.agent-reply {
    padding: 10px;
    width: 80%;
    background-color: #ddd;
    color: black;
    font-size: 14px;
    line-height: 14px;
    font-family: Helvetica;
    border-radius: 5px;
    float: left;
    margin-left: 5px;
    border: 1px solid #ccc;
}

.agent-reply:before {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 15px;
}

.black-footer {
    width: 100%;
    height: 70px;
    background-color: black;
}

.textarea {
    width: 69%;
    height: 20px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
    border: medium none;
    border-radius: 10px;
    padding: 15px;
    resize: none;
    font-size: large
}


/* End of changes for TK Demo */


/* theme background classes starts here*/

.background-blue {
    background-color: #0078bd;
}

.background-grey {
    background-color: #424242;
}


/* theme background classes ends here*/


.home-car {
	    margin: 12px auto 0 auto;left: 0;right: 0;    width: 23.7em;    position: absolute !important;    z-index: 999;
}


.progressBarGray {
    width: 21em;
    height: 14px;
    background-color: #232424;
    margin-left: 2em;
    border-radius: 100px;
    padding: 8px;
}

.progressGreen {
    width: 57%;
    /*    background-color: #009144;*/
    height: 10px;
    border-radius: 50px;
    border: 2px solid #00c721;
    background-image: linear-gradient(to right, rgb(27, 128, 51) 0%, rgb(27, 128, 51) 2%, rgb(21, 189, 66) 76%, rgb(91, 255, 103) 94%, rgb(58, 232, 70) 100%);
}

.progressBarText {
    color: #fff;
    padding: 0 1.5em 0 3em;
    overflow: auto;
}

.features {
    width: 6em;
    height: 6em;
    float: left;
    margin-left: 3%;
    border-radius: 10px;
    margin-right: 3%;
}

.carFeaturesWrap {
    padding: 1em 2.3em;
    overflow: auto;
}

.features img {
    position: relative;
}

.treeWrap {
    color: #fff;
    overflow: auto;
    clear: both;
    padding: 30px 25px;
}

.treesText {}

.multiplier {
    font-size: 32px;
    font-weight: bold;
    margin-top: -15px;
    margin-left: 5px;
}

.treeWrap img {
    position: relative;
    margin-top: -35px;
}

.treeImg {}

.left {
    float: left
}
.right {
    float: right
}

.homePage img {
    position: relative !important;
}

.oj-tabs-panel {
    padding: 0;
}

.oj-tabs-tab.oj-selected,
.oj-tabs-tab.oj-active .oj-tabs-close-icon,
.oj-tabs-tab.oj-active .oj-tabs-anchor {
    background-color: #FB890D;
}

.oj-tabs-nav {
    /*        background-color: #424242;*/
    width: 90%;
    margin: auto;
}

.oj-tabs-horizontal>.oj-tabs-nav-root .oj-tabs-tab {
    width: 19%;
}

.oj-tabs-conveyor {
    background-color: #FB890D;
}

.leftColumn {
    width: 50%;
    float: left;
    text-align: center;
}

.leftColumn .head1,
.rightColumn .head1 {
    font-size: 16px;
}

.leftColumn .value1,
.rightColumn .value1 {
    font-size: 32px;
}

.leftColumn .subText,
.rightColumn .subText {
    color: #ffac2b;
    font-size: 15px;
    margin-top: 7px;
}

.tab2GrayText {
    color: #fff;
    line-height: 36px;
}

.rightColumn {
    float: right;
    width: 50%;
    text-align: center;
}

.tab2GrayText {
    color: #fff;
    overflow: auto;
    padding: 60px 10px 10px 10px;
    font-weight: bold;
}

.lowerWrapper {
    color: #fff;
}

.detailLabel {
    float: left;
    min-width: 100px;
    font-weight: bold
}

.detailText {
    text-align: right;
}

.moreDetails {
    padding: 5.7px 30px;
    font-size: 14.5px;
}

.progressBarText sup {
    font-size: 24px;
    top: -21px;
    left: -14px;
}

.progressBarText label {
    font-weight: bold
}

.oj-tabs-panel {
    border: none;
}

.oj-tabs-tab.oj-selected {
    border: none;
}

.background-grey.grey1 {
    background-color: #434444;
    color: white;
}

.oj-conveyorbelt {
    background-color: #434444;
}

.oj-tabs-horizontal.oj-tabs-bottom>.oj-tabs-nav-root .oj-tabs-tab {
    border-width: 0;
}

.oj-tabs-anchor {
    padding: 15px 0px;
}

.oj-tabs-anchor img {
    width: 85%;
}

.carNameWrap {
    text-align: center;
}

.carNameWrap .modelName {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 7px;
}

.carNameWrap .VINnumber {
    font-size: 13px;
}

.vehicleInfo {
    width: 305px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 21px;
}

.vehicleInfo .serviceInfo {
    margin-bottom: 7px;
    color: #fe941d;
}

.vehicleInfo .serviceDate {
    margin-bottom: 7px;
    font-size: 15px;
}

.vehicleInfo .historyText {
    color: #f59120;
}

.fastCarLogo {
    width: 55px;
    float: right;
    margin-top: -32px;
}

.carAccDetails {
    padding: 17px 30px;
    border-top: 1px solid #6d6d6d;
    ;
    border-bottom: 1px solid #6d6d6d;
}

.carAccDetails .detailHead {
    text-align: right;
    min-width: 112px;
    float: left;
    margin-top: 4px;
    margin-right: 15px;
}

.carAccDetails .detailVal {
    font-size: 22px;
    margin-right: 10px;
}

.carAccDetails .detailStatus {
    font-size: 11px;
    color: #57c520;
}





/* css for start chat starts here */

.upper-layout {
    height: 25%;
}

.lower-layout {
    height: 75%;
}

.lowerblck-panel1 {
    padding: 12px;
    background-color: #666666;
    border-radius: 12px;
}

.lowerblck-panel2 {
    padding: 12px 10px 14px 45px;
    background-color: #666666;
    border-radius: 13px;
    margin-top: 7px;
}

.upper-layout1 {
    height: 19.2%;
}

.lower-layout1 {
    height: 80.8%;
}


/* css for start chat ends here */

.oj-tabs-horizontal>.oj-tabs-nav-root .oj-tabs-tab-content,
.oj-tabs-horizontal.oj-tabs-bottom>.oj-tabs-nav-root .oj-tabs-tab-content {
    border-width: 0px;
}

.oj-button:focus,
.oj-button.oj-focus,
.oj-button.oj-focus-only.oj-button-full-chrome:hover {
    outline: none !important;
    outline-color: none;
}

.blueHeader {
    color: #fff;
}

#carListId .oj-listview-item {
    background-image: none !important;
}

#carListId .oj-listview {
    border: none !important;
    overflow-y: auto;
}

.bold {
    font-weight: bold;
}

.largeText {
    font-size: 15px;
}

.smallText {
    font-size: 13px;
}

.xxlargeText {
    font-size: 19px;
}

.separator-line {
    border: solid #6397ab;
    border-width: 1px 0 0;
    opacity: 0.6;
}

.oj-popup-content {
    padding: 0px;
}

.rounded-button {
    text-align: center;
    padding: 11px 2px;
    background-color: #fe941d;
    width: 100%;
    border-radius: 10px;
    font-size: 19px;
    font-family: 'Montserrat Regular';
    height: 30px;
    line-height: 26px;
}

.gray-box {
    width: 95%;
    color: #FFF;
    margin: 0 3%;
    border-collapse: inherit;
    padding: 11px 15px 14px;
    background-color: #666666;
    border-radius: 10px;
}

.moreDetailstab3 {
    padding: 7px 15px;
    font-size: 16px;
}

.upper-layouts1 {
    height: 19%;
}

.lower-layouts1 {
    height: 81%;
}

.upper-layouts2 {
    height: 29.7%;
}

.lower-layouts2 {
    height: 70.3%;
}

.montserrat-light {
    font-family: 'Montserrat Light' !important;
}

.moreDetailstab11 {
    padding: 2px 23px;
    font-size: 16px;
}

.lowerblck-panel2-label {
    vertical-align: top;
}

.font-montserrat-light {
    font-family: 'Montserrat Light';
}

.font-montserrat-regular {
    font-family: 'Montserrat Regular';
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.box-shadow {
    border-radius: 10px;
    box-shadow: 0 -5px 13px -5px rgba(0, 0, 0, 0.75), 6px 0 15px -5px rgba(0, 0, 0, 0.75);
}

.autoflow {
    overflow: auto;
}

.margin-auto{
    margin:auto;
}

.tab-mover {
    position: relative;
}

.oj-filmstrip-item {
    width: 295px;
}

.oj-pagingcontrol-nav-dot-bullet.oj-hover,
.oj-pagingcontrol-nav-dot-bullet.oj-selected {
    background-color: #FFFFFF;
}

.oj-pagingcontrol-nav-dot-bullet {
    width: 10px;
    height: 10px;
    opacity: 0.4;
    background-color: #FFFFFF;
}

.offers-link {
    color: White;
    bottom: 45px;
    left: 10%;
    position: absolute;
    width: 80%;
    height: 40px;
    z-index: 999;
}

.oj-hybrid-applayout-scrollable,
.oj-web-applayout-scrollable {
    -webkit-overflow-scrolling: auto;
}

.oj-tabs-tab.oj-selected {
    opacity: 1;
}

.oj-tabs-tab {
    opacity: 0.4;
}

.noPadding{padding:0}
.noMargin{margin:0}

.fastcar-tab .oj-tabs-panel {
    border-radius: 0px;
}

.backgroundLanguage {
    background: url('images/home_bg.png') center no-repeat;
}

.backgroundLanguage {
    height: 476px;
}

.box-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.home-box {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    box-shadow: 5px 5px 10px #333;
}

.home-box:active{
    background-color: bisque;
    box-shadow: none;
}

.map-container {
    width: 90%;
    margin: 0 auto;
    height: 200px;
}

.pic-detail {
    overflow-x: auto;
}